# Goal is to conduct exploratory data analysis on the trial data

## 1. Import Dependencies

In [21]:
import random
import pandas as pd

# Packages for plotting
import matplotlib.pyplot as plt
import seaborn as sns

from random import sample

In [22]:
df0 = pd.read_csv('/Users/joanawenceslau/code/avesveta/brain-tumor-project/raw_data/name_mapping_2020.csv')
df1 = pd.read_csv('/Users/joanawenceslau/code/avesveta/brain-tumor-project/raw_data/survival_info_2020.csv')

In [23]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Grade                  369 non-null    object
 1   BraTS_2017_subject_ID  285 non-null    object
 2   BraTS_2018_subject_ID  285 non-null    object
 3   TCGA_TCIA_subject_ID   167 non-null    object
 4   BraTS_2019_subject_ID  335 non-null    object
 5   BraTS_2020_subject_ID  369 non-null    object
dtypes: object(6)
memory usage: 17.4+ KB

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brats20ID            236 non-null    object
 1   Age                  236 non-null    float64
 2   Survival_days        236 non-null    object
 3   Extent_of_Resection  129 non-null    object
dtypes: float64(1), object(3)
memory usage: 7.5+ KB

In [25]:
data1 = df1.copy()

In [26]:
data0 = df0.copy()

In [27]:
df = data1.merge(data0,
                   left_on = 'Brats20ID', right_on ='BraTS_2020_subject_ID',
                   how = 'left')

In [28]:
df.head()

,Brats20ID,Age,Survival_days,Extent_of_Resection,Grade,BraTS_2017_subject_ID,BraTS_2018_subject_ID,TCGA_TCIA_subject_ID,BraTS_2019_subject_ID,BraTS_2020_subject_ID
0,BraTS20_Training_001,60.463,289,GTR,HGG,Brats17_CBICA_AAB_1,Brats18_CBICA_AAB_1,NaN,BraTS19_CBICA_AAB_1,BraTS20_Training_001
1,BraTS20_Training_002,52.263,616,GTR,HGG,Brats17_CBICA_AAG_1,Brats18_CBICA_AAG_1,NaN,BraTS19_CBICA_AAG_1,BraTS20_Training_002
2,BraTS20_Training_003,54.301,464,GTR,HGG,Brats17_CBICA_AAL_1,Brats18_CBICA_AAL_1,NaN,BraTS19_CBICA_AAL_1,BraTS20_Training_003
3,BraTS20_Training_004,39.068,788,GTR,HGG,Brats17_CBICA_AAP_1,Brats18_CBICA_AAP_1,NaN,BraTS19_CBICA_AAP_1,BraTS20_Training_004
4,BraTS20_Training_005,68.493,465,GTR,HGG,Brats17_CBICA_ABB_1,Brats18_CBICA_ABB_1,NaN,BraTS19_CBICA_ABB_1,BraTS20_Training_005

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236 entries, 0 to 235
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Brats20ID              236 non-null    object
 1   Age                    236 non-null    float64
 2   Survival_days          236 non-null    object
 3   Extent_of_Resection    129 non-null    object
 4   Grade                  236 non-null    object
 5   BraTS_2017_subject_ID  166 non-null    object
 6   BraTS_2018_subject_ID  166 non-null    object
 7   TCGA_TCIA_subject_ID   76 non-null     object
 8   BraTS_2019_subject_ID  212 non-null    object
 9   BraTS_2020_subject_ID  236 non-null    object
dtypes: float64(1), object(9)
memory usage: 20.3+ KB

In [30]:
df.columns

Index(['Brats20ID', 'Age', 'Survival_days', 'Extent_of_Resection', 'Grade',
       'BraTS_2017_subject_ID', 'BraTS_2018_subject_ID',
       'TCGA_TCIA_subject_ID', 'BraTS_2019_subject_ID',
       'BraTS_2020_subject_ID'],
      dtype='object')

In [31]:
df = df.drop(columns=['Extent_of_Resection','BraTS_2017_subject_ID', 'BraTS_2018_subject_ID', 'TCGA_TCIA_subject_ID', 'BraTS_2019_subject_ID','BraTS_2020_subject_ID'])

In [32]:
df.head()

              Brats20ID     Age Survival_days Grade
0  BraTS20_Training_001  60.463           289   HGG
1  BraTS20_Training_002  52.263           616   HGG
2  BraTS20_Training_003  54.301           464   HGG
3  BraTS20_Training_004  39.068           788   HGG
4  BraTS20_Training_005  68.493           465   HGG

## 2. Load Trial Data

In [33]:
df.describe()

              Age
count  236.000000
mean    61.223203
std     11.874114
min     18.975000
25%     54.244250
50%     61.471000
75%     69.200000
max     86.652000

In [34]:
df['Survival_days'][83] = '1767'
df['Survival_days'][83]

/var/folders/nc/8gr5wf014jsg8svq44fkhwc80000gn/T/ipykernel_10501/1287028424.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Survival_days'][83] = '1767'

'1767'

In [35]:
df['Survival_days'] = pd.to_numeric(df['Survival_days'])
print(df.dtypes)

Brats20ID         object
Age              float64
Survival_days      int64
Grade             object
dtype: object

In [36]:
df.describe()

              Age  Survival_days
count  236.000000     236.000000
mean    61.223203     451.411017
std     11.874114     365.380752
min     18.975000       5.000000
25%     54.244250     190.000000
50%     61.471000     371.000000
75%     69.200000     584.250000
max     86.652000    1767.000000

In [37]:
df.isnull().sum()

Brats20ID        0
Age              0
Survival_days    0
Grade            0
dtype: int64

In [38]:
df.duplicated().sum()

0

In [39]:
df['Grade'].value_counts()

HGG    236
Name: Grade, dtype: int64

In [40]:
corr = df['Age'].corr(df['Survival_days'])
print("Correlation between Age and Survival Days is ", round(corr, 2))

Correlation between Age and Survival Days is  -0.34