# Goal is to conduct exploratory data analysis on the trial data

## 1. Import Dependencies

In [4]:
import random
import pandas as pd

# Packages for plotting
import matplotlib.pyplot as plt
import seaborn as sns

from random import sample

In [5]:
df0 = pd.read_csv('/Users/joanawenceslau/code/avesveta/brain-tumor-project/raw_data/name_mapping_2020.csv')
df1 = pd.read_csv('/Users/joanawenceslau/code/avesveta/brain-tumor-project/raw_data/survival_info_2020.csv')

In [6]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Grade                  369 non-null    object
 1   BraTS_2017_subject_ID  285 non-null    object
 2   BraTS_2018_subject_ID  285 non-null    object
 3   TCGA_TCIA_subject_ID   167 non-null    object
 4   BraTS_2019_subject_ID  335 non-null    object
 5   BraTS_2020_subject_ID  369 non-null    object
dtypes: object(6)
memory usage: 17.4+ KB

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brats20ID            236 non-null    object
 1   Age                  236 non-null    float64
 2   Survival_days        236 non-null    object
 3   Extent_of_Resection  129 non-null    object
dtypes: float64(1), object(3)
memory usage: 7.5+ KB

In [9]:
df0 = df0.drop(columns=['BraTS_2017_subject_ID', 'BraTS_2018_subject_ID', 'BraTS_2019_subject_ID', 'TCGA_TCIA_subject_ID'])

In [10]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Grade                  369 non-null    object
 1   BraTS_2020_subject_ID  369 non-null    object
dtypes: object(2)
memory usage: 5.9+ KB

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brats20ID            236 non-null    object
 1   Age                  236 non-null    float64
 2   Survival_days        236 non-null    object
 3   Extent_of_Resection  129 non-null    object
dtypes: float64(1), object(3)
memory usage: 7.5+ KB

In [11]:
df1 = df1.drop(columns=['Extent_of_Resection'])
df1.head()

              Brats20ID     Age Survival_days
0  BraTS20_Training_001  60.463           289
1  BraTS20_Training_002  52.263           616
2  BraTS20_Training_003  54.301           464
3  BraTS20_Training_004  39.068           788
4  BraTS20_Training_005  68.493           465

In [12]:
df0['Grade'].value_counts()

HGG    293
LGG     76
Name: Grade, dtype: int64

In [13]:
df0.shape

(369, 2)

In [14]:
HGG_COUNT = 293
LGG_COUNT = 76

In [15]:
df1['Survival_days'][83] = '1767'
df1['Survival_days'][83]

/var/folders/nc/8gr5wf014jsg8svq44fkhwc80000gn/T/ipykernel_13296/1401562087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Survival_days'][83] = '1767'

'1767'

In [16]:
df1['Survival_days'] = pd.to_numeric(df1['Survival_days'])
print(df1.dtypes)

Brats20ID         object
Age              float64
Survival_days      int64
dtype: object

In [17]:
df1.describe()

              Age  Survival_days
count  236.000000     236.000000
mean    61.223203     451.411017
std     11.874114     365.380752
min     18.975000       5.000000
25%     54.244250     190.000000
50%     61.471000     371.000000
75%     69.200000     584.250000
max     86.652000    1767.000000

In [22]:
df0.isnull().sum()

Grade                    0
BraTS_2020_subject_ID    0
dtype: int64

In [18]:
df1.isnull().sum()

Brats20ID        0
Age              0
Survival_days    0
dtype: int64

In [23]:
corr = df1['Age'].corr(df1['Survival_days'])
print("Correlation between Age and Survival Days is: ", round(corr, 2))

Correlation between Age and Survival Days is:  -0.34